#header {
    background-color: transparent;
    top: 0;
    z-index: 10;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

#navbar{
    position: static;
    padding: 0;
    overflow: auto;
}

#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#header .logo img{
    height: auto;
    display: block;
}

#header .navbar {
    padding: 0;
    margin: 0;
}

#header ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

#header li{
    position: relative;
    padding: 6px 4px;
    margin-left: 10px;
    margin: 0;
}
#header li a {
    color: black;
}

#header li a{
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}



@media (max-width: 576px){
    #header .container{
        width: 600px;
    }
    #header .navbar-toggler{
        border: 0;
    }
    #header .navbar-collapse {
        position: absolute;
        height: 100%;
        top: 60%;
        left: 0;
        width: 100%;
        background-color: transparent;
    }
    #navbar{
        margin-top: 50px;
        height: 50px;
    }
    #header ul{
        align-items: center;
        margin-left: 10%;
    }
    #header{
        padding: 0;
    }
}