#info {
    position: relative;
    width: 100;
    height: 110vh;
    background: linear-gradient(70deg, white 50%, rgb(235, 235, 235) 50%);
    padding: 100px 0;
}

#info .container{
    width: 50%;
    text-align: center;
}

.orange-line {
    width: 100px; /* Çizginin genişliği */
    height: 10px;  /* Çizginin yüksekliği */
    background-color: #FFA500;
    margin: 0 auto; /* Çizgiyi konteyner içinde yatay olarak ortala */
    border-radius: 30px;
  }

#info .container h2{
    color: darkblue;
    font-weight: 700;
    font-size: 24x;
    line-height: 1.2;
}
#info .container p {
    font-size: 14px;
    color: #333;
    margin-top: 50px;
    font-weight: 500;
}

#info .button{
    margin-top: 50px;
    border-radius: 10px;
}

#info .button .btn {
    background-color: #3B5998; 
    color: white;   
    padding: 10px 20px;   
    margin: 20px;    
    border: none;  
    border-radius: 5px;     
    display: inline-block;   
    text-align: center;       
    cursor: pointer;          
    text-decoration: none; 
}

#info .button .btn:hover {
    background-color: orangered; /* Daha koyu mavi */
}

#info .container li{
    margin-right: 60px;
    width: 100px;
}


#info .row{
    position: absolute;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: 1fr 1fr;
    /* right: 80px; */
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}


#info .col-lg-5{
    width: 40%;
    margin-left: 60px;
    font-size: inherit;
}

#info .col-lg-5 h2{
    font-size: 20px;
    font-weight: 800;
}
#info .col-lg-5 p{
    font-size: 16px;
    font-weight: bolder;
}
#info .section{
    margin-top: 30px;
}
#info .text {
    font-weight: 500;
    font-size: 16px;
    width: 400px;
}

#info .lead {
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
    width: 400px;
    line-height: 2;
}

#info .col-lg-4 img{
    width:200%;
    height: 100%;

}





