#trainers{
    position: relative;
    background-color: #eaf4fc;
    width: 100;
    height: 60vh;
    padding: 50px 0;
}

#trainers .container{
    text-align: center;
    width: 50%;
}

#trainers .container h2{
    text-align: center;
    font-weight: bold;
    color: darkblue;

}

.orange-line {
    width: 100px; /* Çizginin genişliği */
    height: 10px;  /* Çizginin yüksekliği */
    background-color: #FFA500;
    margin: 0 auto; /* Çizgiyi konteyner içinde yatay olarak ortala */
    border-radius: 30px;
  }

#trainers .container p{
    left: 20%;
    margin-top: 60px;
    font-weight: 500;
}

#trainers .row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


#trainers .col-lg-3{
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#trainers .image{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 1px solid orangered;
    border-radius: 5%;
    
    
}



#trainers .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:darkblue; /* Arka planın yarı saydam siyah olması */
    color: #fff; /* Yazı rengi */
    font-size: 1.2rem; /* Yazı boyutu */
    font-weight: bold;
    padding: 10px;
    text-align: center;
    opacity: 0; /* Varsayılan olarak gizli */
    transform: translateY(100%); /* Başlangıçta kartın altına yerleştirilir */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animasyonlar */
}
#trainers .col-lg-3:hover .image {
    transform: scale(1.1);
     /* Hover sırasında resmi büyütme */
     clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    
  }
  
  #trainers .col-lg-3:hover .name {
    opacity: 1; /* İsim görünür */
    transform: translateY(0); /* Kartın altından yukarı çıkar */
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    
  }



/* #trainers .image{
    width: 200px;
    height: 200px;
    position: relative;
}

#trainers .name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Kartın genişliği resmin genişliğinin %100'ü olacak şekilde ayarlandı */
    /* height: 30%; /* Kartın yüksekliği resmin yüksekliğinin %30'u olacak şekilde ayarlandı */
    /* background-color: blue;
    color: white;
    font-family: Arial;
    text-align: center;
    opacity: 0; /* Başlangıçta görünmez */
    /* transition: opacity 0.3s ease-in-out;
} */ 
/* 

#trainers .image:hover + .name {
  
    opacity: 1;
  }  */

